<!DOCTYPE html>
<html>
<head>
	<title>Juegos de Deporte</title>
	{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/estilos.css' %}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

	<header>
		<h1>Juegos de Deporte</h1>
		<p>¡Aquí encontrarás los mejores juegos de Deporte del mercado!</p>
		<a href="E1_matias_barraza_S2.html">Inicio</a>
		<a href="accion.html">Accion</a>
		<a href="Estrategia.html">Estrategia</a>
		<a href="Registro.html">Registrarse</a>
		<a href="inicio_sesion.html">Inicio de sesion</a>
	</header>
	
	<section>
		<div class="row">
			<div class="col-sm-12 col-md-6 col-lg-4">
				<div class="card mb-4">
					<img class="card-img-top" src="imagenes/fifa23.jpg"
						alt="Juego 4">
					<div class="card-body">
						<h5 class="card-title">Fifa 23</h5>
						<p class="card-text">La nueva entrega del famoso simulador de fútbol.</p>
						<a href="#" class="btn btn-primary">Comprar</a>
					</div>
				</div>
			</div>


			<div class="col-sm-12 col-md-6 col-lg-4">
				<div class="card mb-4">
					<img class="card-img-top" src="imagenes/forza.jpg"
						alt="Juego 4">
					<div class="card-body">
						<h5 class="card-title">Forza Horizon 4</h5>
						<p class="card-text">La nueva entrega del famoso simulador de autos.</p>
						<a href="#" class="btn btn-primary">Comprar</a>
					</div>
				</div>
			</div>



			<div class="col-sm-12 col-md-6 col-lg-4">
				<div class="card mb-4">
					<img class="card-img-top" src="imagenes/nba.jpg"
						alt="Juego 4">
					<div class="card-body">
						<h5 class="card-title">NBA2K23</h5>
						<p class="card-text">La nueva entrega del famoso juego de la NBA.</p>
						<a href="#" class="btn btn-primary">Comprar</a>
					</div>
				</div>
			</div>

		</div>
	</section>

</body>
</html>
