<!DOCTYPE html>
<html>
<head>
	<title>Juegos de Estrategia</title>
	<link rel="stylesheet" href="estilos.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

	<header>
		<h1>Juegos de Estrategia</h1>
		<p>¡Aquí encontrarás los mejores juegos de acción del mercado!</p>
		<a href="E1_matias_barraza_S2.html">Inicio</a>
		<a href="accion.html">accion</a>
		<a href="Terror.html">Terror</a>
		<a href="Deporte.html">Deporte</a>
		<a href="Registro.html">Registrarse</a>
		<a href="inicio_sesion.html">Inicio de sesion</a>
	</header>
	
	<section>
		<h2>Juegos de Acción</h2>
		<!-- Aquí irían los juegos de acción -->
		<div class="row">
			<div class="col-sm-12 col-md-6 col-lg-6">
				<div class="card mb-4">
					<img class="card-img-top" src="imagenes/zomboid.jpeg"
						alt="Juego 1">
					<div class="card-body">
						<h5 class="card-title">Project Zomboid</h5>
						<p class="card-text">El juego de zombis mas tecnico del mercado cada accion con precaucion tomaras.</p>
						<a href="#" class="btn btn-primary">Comprar</a>
					</div>
				</div>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-6">
				<div class="card mb-4">
					<img class="card-img-top" src="imagenes/age_empires.avif"
						alt="Juego 2">
					<div class="card-body">
						<h5 class="card-title">Age Of Empires 2</h5>
						<p class="card-text">El legendario juego de estrategia medieval.</p>
						<a href="#" class="btn btn-primary">Comprar</a>
					</div>
				</div>
			</div>
		</div>
		<!-- Columna 2 -->
		<div class="row">
			<div class="col-sm-12 col-md-6 col-lg-6">
				<div class="card mb-4">
					<img class="card-img-top" src="imagenes/starcarft2.jpg"
						alt="Juego 2">
					<div class="card-body">
						<h5 class="card-title">Starcraft 2</h5>
						<p class="card-text">el iconico juego de blizard de estrategia en el futuro.</p>
						<a href="#" class="btn btn-primary">Comprar</a>
					</div>
				</div>
			</div>
		</div>
