<!DOCTYPE html>
<html>
<head>
	<title>Juegos de Acción</title>
	<link rel="stylesheet" href="estilos.css">
</head>
<body>

	<header>
		<h1>Juegos de Acción</h1>
		<p>¡Aquí encontrarás los mejores juegos de acción del mercado!</p>
		<a href="E1_matias_barraza_S2.html">Inicio</a>
		<a href="accion.html">Accion</a>
		<a href="Deporte.html2">Deporte</a>
		<a href="Estrategia.html">Estrategia</a>
		<a href="Registro.html">Registrarse</a>
		<a href="inicio_sesion.html">Inicio de sesion</a>6
	</header>
	
	<section>
		<h2>Juegos de Acción</h2>
		<!-- Aquí irían los juegos de acción -->
		<div class="juego Terror">
			<img src="juego1.jpg">
			<h3>Juego 1</h3>
			<p>Descripción del juego 1</p>
		</div>
		<div class="juego Terror">
			<img src="juego2.jpg">
			<h3>Juego 2</h3>
			<p>Descripción del juego 2</p>
		</div>
		<div class="juego Terror">
			<img src="juego3.jpg">
			<h3>Juego 3</h3>
			<p>Descripción del juego 3</p>
		</div>
	</section>

</body>