<!DOCTYPE html>
<html>
<head>
	<title>Juegos de Acción</title>
	<link rel="stylesheet" href="estilos.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

	<header>
		<h1>Juegos de Terror</h1>
		<p>¡Aquí encontrarás los mejores juegos de Terror del mercado!</p>
		<a href="E1_matias_barraza_S2.html">Inicio</a>
		<a href="accion.html">Accion</a>
		<a href="Deporte.html2">Deporte</a>
		<a href="Estrategia.html">Estrategia</a>
		<a href="Registro.html">Registrarse</a>
		<a href="inicio_sesion.html">Inicio de sesion</a>6
	</header>
	
	<section>
		<h2>Juegos de Acción</h2>
		<!-- Aquí irían los juegos de acción -->
		<div class="container-fluid">
			<h1 class="text-center my-5">Nuestros Juegos</h1>
			<div class="row">
				<!-- Columna 1 -->
				<div class="col-sm-12 col-md-6 col-lg-4">
					<div class="card mb-4">
						<img class="card-img-top" src="imagenes/gow.webp"
							alt="Juego 1">
						<div class="card-body">
							<h5 class="card-title">God of war Ragnarok PS5</h5>
							<p class="card-text">Las aventuras de kratos siguen en este nuevo juego.</p>
							<a href="#" class="btn btn-primary">Comprar</a>
						</div>
					</div>
				</div>
				<!-- Columna 2 -->
				<div class="col-sm-12 col-md-6 col-lg-4">
					<div class="card mb-4">
						<img class="card-img-top" src="imagenes/fornite.jpg"
							alt="Juego 2">
						<div class="card-body">
							<h5 class="card-title">Fortnite</h5>
							<p class="card-text">Puedes comprar Pavos y accesorios relacionados a este entretenido juego de Epic Games.</p>
							<a href="#" class="btn btn-primary">Comprar</a>
						</div>
					</div>
				</div>
				<!-- Columna 3 -->
				<div class="col-sm-12 col-md-6 col-lg-4">
					<div class="card mb-4">
						<img class="card-img-top" src="imagenes/foro-cod-warzone.jpg"
							alt="Juego 3">
						<div class="card-body">
							<h5 class="card-title">Warzone</h5>
							<p class="card-text">Sobrevive y gana la gran batalla que acontece en Verdansk.</p>
							<a href="#" class="btn btn-primary">Comprar</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>



